								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">{{data.title}}</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather={{data.icon}}></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3">{{data.value}}</h1>
										<div class="mb-0">
											<span class="text-danger">
												<i class="mdi mdi-arrow-bottom-right"></i>
												{{data.change}}
											</span>
											<span class="text-muted">{{data.change_label}}</span>
										</div>
									</div>
								</div>